body{ 
    background:#8D021F;
    color:#333;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
     width:90%;
     margin:auto;
     height:120px;
     line-height:120px;
     background:#7F9C96;
     color:#fff;
}

.jarak{
     padding:0 2pc;
}










