body
{ 
 background-color:#8D021F;
 color:#333;
 widht:100%;
 font-familiy:sans-serif;
 margin:0 auto;
}

.header{
  widht:90%;
  margin:auto;
  height:120px;
  background:FDEFB2;
  color:#ff;
}
